*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./bg.webp);
    background-repeat:no-repeat;

}

.header{
    /* border: 1px solid red; */
    /* width: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px 45px 0px;
}

.main{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    '. b .'
    'a b c'
    'a d c'
    '. d .';
    gap: 10px;
    padding-left: 7vw;
}

.supervisor{
    grid-area: a;
    background: white;
    height: 16rem;
    width: 25rem;
    border-top: 5px solid rgb(47, 238, 9);
    box-shadow: -1px 17px 23px -1px rgba(120,97,97,0.75);
}

.teambuilder{
    grid-area: b;
    background: white;
    height: 15rem;
    width: 25rem;
    margin-bottom: 20px;
    border-top: 5px solid rgb(226, 29, 29);
    box-shadow: -1px 17px 23px -1px rgba(120,97,97,0.75);
}

.karma{
    grid-area: c;
    background: white;
    height: 15rem;
    width: 25rem;
    margin-top: 20px;
    border-top: 5px solid rgb(247, 231, 10);
    box-shadow: -1px 17px 23px -1px rgba(120,97,97,0.75);
}
.calculator{
    grid-area: d;
    background: white;
    height: 15rem;
    width: 25rem;
    border-top: 5px solid rgb(4, 0, 252);
    box-shadow: -1px 17px 23px -1px rgba(120,97,97,0.75);
}

h2{
    margin: 20px 0px 15px 20px; 
}
p{
    margin: 20px 0px 15px 20px; 
}
i{
    font-size: 40px;
    position: relative;
    top: 60px;
    left: 80%;
}

/* media tag start */

/* media tagc320px — 480px start  */
@media (min-width:320px) and (max-width:640px){
    body{
        display: block;
        /* background-image: none;; */
        width: auto;
        /* height: auto; */
    }
    
    .header{
        display: block;
        /* width: auto; */
        /* text-align: start; */
    }
    .main{
        display: block;
        /* width: 25%; */
        padding-left: 0px;
        /* background-color: yellow; */
    }
    
    .supervisor{ 
        display: block;
        width: auto;
        border-top: 5px solid rgb(47, 238, 9);
        box-shadow: 0px 0px 0px 0px;
        /* margin-left: 2.5vw; 
        margin-right: 2.5vw; */
    }

    .teambuilder{ 
        display: block;
        width: auto;
        margin-top: 20px;
        border-top: 5px solid rgb(238, 9, 9);
        box-shadow: 0px 0px 0px 0px;
        /* margin-left: 2.5vw; 
        margin-right: 2.5vw; */
    }
   
    .karma{ 
        display: block;
        width: auto;
        margin-bottom: 20px;
        border-top: 5px solid rgb(238, 234, 9);
        box-shadow: 0px 0px 0px 0px;
        /* margin-left: 2.5vw; 
        margin-right: 2.5vw;  */
    }

    .calculator{ 
        display: block;
        width: auto;
        margin-top: 20px;
        border-top: 5px solid rgb(43, 9, 238);
        box-shadow: 0px 0px 0px 0px;
        
    }
    
    
    
    h1{
        font-size: px;
        text-align: start;
    }
    h2{
        font-size: 30px;
        text-align: start;
    }
    p{
        font-size: 20px;
        /* width: 25vw; */
        text-align: start;
        margin-left: 0vw;
    }
    i{
        font-size: 20px;
        position: relative;
        top: 30px;
        left: 5%;
    }
    
}
/* media tagc320px — 480px end  */
/* media tag end */